apps:
- name: hello-world
  schedule: '0 * * * *' # Every hour

# - name: <app>
#   schedule: '*/15 * * * *' # Every 15 minutes
#   devices: [<device>] # If you have multiple Tidbyts defined in devices.yml, you can optionally filter them by name.
